<div class="row">
  <div class="col-12 d-flex align-items-center mb-3">
    <button class="btn btn-primary me-3">Log in with Google</button>
    <app-add-todo class="flex-grow-1"></app-add-todo>
  </div>
</div>

<div class="row">
  <div class="col-12 mb-3">
    <h3 class="fw-bold">To-do:</h3>

    <div class="mb-3">    
      <span class="me-2">Sort by:</span>
      <button
        (click)="sortTodosBy('desc')"
        class="btn btn-outline-primary me-2"
      >
        <i class="bi bi-sort-alpha-down"></i>
      </button>
      <button (click)="sortTodosBy('asc')" class="btn btn-outline-primary">
        <i class="bi bi-sort-alpha-up"></i>
      </button>
    </div>

    <div>
      <input
        #filter
        (change)="sortTodosBy('')"
        type="text"
        class="form-control w-100"
        placeholder="Start typing..."
      />
    </div>
  </div>

  <div class="col-12" *ngIf="todos.length === 0">
    <p>There is no any task yet</p>
  </div>
  <div
    class="col-12 card mb-3"
    *ngFor="let todo of todos"
    (click)="toggleComplete(todo.id)"
  >
    <div
      class="card-body d-flex align-items-center {{ todo.id }}"
      [class.text-decoration-line-through]="todo.isComplete"
    >
      <p class="flex-grow-1 mb-0">
        <a [routerLink]="['/todo', todo.id]">{{ todo.text }}</a>
      </p>
      <span class="float-end small">{{ todo.createdAt.toDate() | date }}</span>
      <span
        class="float-end btn btn-outline-danger ms-2"
        (click)="removeTodo(todo.id)"
        >&times;</span
      >
    </div>
  </div>
</div>
